src/main/files/cars.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="cars">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="car" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="preco"/>
              <xs:element type="xs:string" name="anunciante"/>
              <xs:element type="xs:string" name="marca"/>
              <xs:element type="xs:string" name="modelo"/>
              <xs:element type="xs:string" name="versao"/>
              <xs:element type="xs:string" name="combustivel"/>
              <xs:element type="xs:string" name="quilometros"/>
              <xs:element type="xs:string" name="potencia"/>
              <xs:element type="xs:string" name="cilindrada"/>
              <xs:element type="xs:string" name="cor"/>
              <xs:element type="xs:string" name="lotacao"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>